* {
  margin: 0;
  padding: 0;
}
tr {
  display: flex;
}
.btns-container {
  margin-left: 0.6vw;
}
.nums {
  justify-content: center;
  align-items: center;
  margin: 3px;
  width: 11vw;
  height: 10vh;
  border-radius: 15px;
  color: white;
  background-color: black;
}
.nums:hover {
  background-color: white;
  color: black;
}
.nums:active {
  background-color: grey;
}
.answer-class {
  height: 15vh;
  min-height: 70px;
  width: 730px;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 5px;
  border: 5px turquoise solid;
}
.table-background {
  height: 100%;
  width: 750px;
  background-color: turquoise;
}
.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}
